@model IEnumerable<DistrictListViewModel>

@{
    ViewData["Title"] = "Index";
}

<h4>District List</h4>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StateName)
            </th>
          
          
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            
       
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StateName)
            </td>
          
           
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.IsActive)           
            </td>
            
          
            <td>
                <a asp-controller="Districts" asp-action="Edit" asp-route-districtid="@item.DistrictID" class="btn btn-info">Edit</a>
                <a class="btn btn-info" asp-controller="city" asp-action="MapCities" asp-route-districtid="@item.DistrictID" asp-route-districtname="@item.Name">Manage Cities</a>
                <a asp-controller="Districts" asp-action="Delete" asp-route-districtid="@item.DistrictID" class="btn btn-info" onclick="return confirm('Are you sure about deleting the district?');">Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>
