@model IEnumerable<CityListViewModels>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CityId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.StateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistrictName)
            </th>
           

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            
               
            
            
            <td>
                @Html.DisplayFor(modelItem => item.DistrictName)
            </td>
            

            <td>
                <a asp-controller="City" asp-action="Edit" asp-route-cityid="@item.CityId" class="btn btn-info">Edit</a>
               <a asp-controller="Areas" asp-action="MapAreas" asp-route-cityid ="@item.CityId" asp-route-cityname="@item.Name" class="btn btn-info">Manage Areas</a> 
                <a asp-controller="City" asp-action="Delete" asp-route-cityid="@item.CityId" class="btn btn-danger">Delte</a>

            </td>
        </tr>
}
    </tbody>
</table>
