@model IEnumerable<ElectionBoothListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
          
            <th>
                @Html.DisplayNameFor(model => model.BoothName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistrictName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WardName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.BoothName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistrictName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WardName)
            </td>
            <td>
                <a asp-controller="ElectionBooth" asp-action="Edit" asp-route-boothid="@item.ElectionBoothId" class="btn btn-info">Edit</a>
                <a asp-controller="ElectionBooth" asp-action="Delete" asp-route-boothid="@item.ElectionBoothId" class="btn btn-info">Delete</a>
            </td>

        </tr>
}
    </tbody>
</table>
