@model IList<StateCountryViewModel>

@{
    ViewData["Title"] = $"Map States To {Model[0].Country}";
}

    <h4>ViewData["Title"]</h4>
    <form method="post">
        <div class="container-fluid">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="row">
                    <div class="col-md-2"><input asp-for="@Model[i].BelongsToCountry" type="checkbox" class="form-check-input" /></div>
                    <div class="col">
                        <label class="form-control" asp-for="@Model[i].State">@Model[i].State</label>
                        <input type="hidden" asp-for="@Model[i].StateId" value="@Model[i].StateId" />
                        <input type="hidden" asp-for="@Model[i].Country" value="@Model[i].Country" />
                        <input type="hidden" asp-for="@Model[i].CountryId" value="@Model[i].CountryId" />
                    </div>
                </div>

            }
            <button type="submit" class="btn btn-primary">Update</button>

        </div>
    </form>
            

    

